*/.settings/org.eclipse.cdt.core.prefs
*/.settings/org.eclipse.cdt.ui.prefs
*/.settings/language.settings.xml
*.pyc
*.so
.DS_Store
aslam_backend_tutorial/tex/auto/
aslam_backend_tutorial/tex/backend.aux
aslam_backend_tutorial/tex/backend.bbl
aslam_backend_tutorial/tex/backend.blg
aslam_backend_tutorial/tex/backend.log
aslam_backend_tutorial/tex/backend.out
aslam_backend_tutorial/tex/backend.pdf
aslam_backend_tutorial/tex/backend.toc
build/
*~
bin
lib
*.o
*.so
*.pyc
.project
.cproject
.pydevproject
*.orig
.#*
sparse_block_matrix/cflags.export
